<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
#RewriteRule ^(.*\.js) gzip.php?type=js&file=$1
#RewriteRule ^(.*\.css) gzip.php?type=css&file=$1
</IfModule>


